<h1>Coaching ask</h1>
<p> Hello, I am your coach, what did you want to tell me ?</p>

<!-- app/views/pages/home.html.erb -->
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="query" placeholder="Your answer ?">
  <input type="submit">
</form>
